* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px;
	10px / 16px = 0.625 =62.5%
	Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  color: rgb(82, 82, 82);
  font-size: 1.6rem;
  text-align: center;
  line-height: 1.75;
}
img {
  display: flex;
  width: 100%;
}
a {
  text-decoration: none;
  transition: 0.3s;
}

.title {
  font-family: "Merriweather", serif;
  text-align: center;
  font-size: 3.2rem;
  color: #171717;
  font-weight: 400;
  margin-bottom: 1.6rem;
}

button {
  color: white;
  background-color: #171717;
  border: none;
  border-radius: 5px;
  padding: 1.2rem 2.4rem;
  text-transform: uppercase;
}

/* **************************************** */
/*  Header */
/* **************************************** */
.header {
  position: relative;
  height: 70rem;
  background-size: cover;
  background-position: center;
  background-image: radial-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.9)),
    url("assets/header.jpg");
}
.nav {
  margin: 0 16rem;
  padding: 3.2rem 1.6rem;
  display: flex;
  justify-content: center;
}
.nav-list {
  display: flex;
  align-items: center;
  column-gap: 3.2rem;
}

.nav-list li {
  list-style: none;
}

.nav-link:link,
.nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
}

.nav-logo {
  width: 15rem;
}

/* **************************************** */
/*  about section */
/* **************************************** */
.about-section {
  margin: 0 17.6rem;
  padding: 8rem 1.6rem;
}

.about-section p {
  width: 90rem;
  margin: auto;
  margin-bottom: 3.2rem;
}

.about-logo {
  width: 17rem;
  margin: auto;
}

/* **************************************** */
/*  portfolio section */
/* **************************************** */
.portfolio-section {
  margin: 0 17.6rem;
  padding: 8rem 1.6rem;
}

.portfolio-grid {
  display: flex;
  column-gap: 3.2rem;
}
.portfolio-card {
  position: relative;
}
.portfolio-card button {
  color: white;
  background-color: #171717;
  border: none;
  border-radius: 5px;
  padding: 1.2rem 2.4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.portfolio-card p {
  position: absolute;
  bottom: 1.6rem;
  color: white;
  left: 50%;
  text-align: center;
  transform: translate(-50%, 0);
}

/* **************************************** */
/*  service section */
/* **************************************** */
.service-bg {
  /* background-image: url("assets/service.jpg"); */
  background-color: #171717;
  background-size: cover;
  background-position: center;
}

.service-section {
  margin: 0 23.3rem;
  padding: 8rem 1.6rem;
}

.service-section h2,
.service-subtitle {
  color: white;
}
.service-detail {
  max-width: 60rem;
  margin: auto;
}

.service-subtitle {
  font-size: 2.8rem;
  font-family: "Merriweather", serif;
  text-align: center;
  font-weight: 400;
  line-height: 1.2;
}

.service-section p {
  color: rgb(163, 163, 163);
}

.service-grid {
  display: flex;
  column-gap: 3.2rem;
  margin-top: 6.4rem;
}

/* **************************************** */
/*  testimonials section */
/* **************************************** */
.testimonials-section {
  margin: 0 17.6rem;
  padding: 8rem 1.6rem;
}

.testimonials-card {
  background-color: aquamarine;
}

/* **************************************** */
/*  testimonials section */
/* **************************************** */

/* **************************************** */
/*  gallery section */
/* **************************************** */
.gallery-section {
  margin: 0 17.6rem;
  padding: 8rem 1.6rem;
}

.gallery-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1.6rem;
  row-gap: 1.6rem;
  margin-bottom: 3.2rem;
}

/* **************************************** */
/*  blog section */
/* **************************************** */

.blog-bg {
  background: url(assets/blog.jpg) rgba(0, 0, 0, 0.6);
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}

.blog-section {
  margin: 0 17.6rem;
  padding: 8rem 1.6rem;
}
.blog-section h2 {
  color: white;
}
.blog-subtitle {
  font-size: 2rem;
  font-family: "Merriweather", serif;
  text-align: center;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 1.6rem;
  color: white;
}
.blog-section p {
  color: #a3a3a3;
  margin-bottom: 3.2rem;
}
.blog-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.blog-btn {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  padding: 1.2rem 2.4rem;
  text-transform: uppercase;
}

/* **************************************** */
/*  instagram section */
/* **************************************** */

.instagram-section {
  margin: 0 17.6rem;
  padding: 8rem 1.6rem;
}

/* **************************************** */
/*  footer section */
/* **************************************** */

.footer-section {
  margin: 0 17.6rem;
  padding: 8rem 1.6rem;
}
.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  align-items: center;
}

.footer-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;
}

.footer-list li {
  list-style: none;
}
.footer-link {
  color: #171717;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}

.logo-box {
  border-left: 2px solid #171717;
  border-right: 2px solid #171717;
}

.footer-logo {
  width: 17rem;
  margin: auto;
  margin-bottom: 3.2rem;
}

.footer-grid div:last-child {
  padding: 0 3.2rem;
}

.Copyright {
  background-color: #171717;
}

.Copyright p {
  font-size: 1.4rem;
  color: #a3a3a3;
  padding: 1.6rem;
}
.social-links {
  display: flex;
  column-gap: 3rem;
  justify-content: center;
}
.social-icon {
  font-size: 2.4rem;
  color: #171717;
}
